{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Employee Data Collation App | Employee List</title>

  <!-- start: Css -->
  <link rel="stylesheet" type="text/css" href="{% static 'asset/css/bootstrap.min.css' %}">

  <!-- plugins -->
  <link rel="stylesheet" type="text/css" href="{% static 'asset/css/plugins/font-awesome.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'asset/css/plugins/datatables.bootstrap.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'asset/css/plugins/animate.min.css' %}"/>
  <link href="{% static 'asset/css/style.css' %}" rel="stylesheet">
  
 
   {% block css %} {% endblock %}
 

<body id="mimin" class="dashboard">
      <!-- start: Header -->
        <nav class="navbar navbar-default header navbar-fixed-top">
          <div class="col-md-12 nav-wrapper">
            <div class="navbar-header" style="width:100%;">
              <div class="opener-left-menu is-open">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
              </div>
                <a href="/" class="navbar-brand"> 
                 <b>Employee Data Collation App</b>
                </a>

            </div>
          </div>
        </nav>
      <!-- end: Header -->

      <div class="container-fluid mimin-wrapper">
  
          <!-- start:Left Menu -->
            <div id="left-menu">
              <div class="sub-left-menu scroll">
                <ul class="nav nav-list">
                    <li><div class="left-bg"></div></li>
                    <li class="time">
                      <h1 class="animated fadeInLeft">21:00</h1>
                      <p class="animated fadeInRight">Sat,October 1st 2029</p>
                    </li>

                    <li class="{% block dashboardActive %}  {% endblock %} ripple">
                      <a class="tree-toggle nav-header"><span class="fa-home fa"></span> Dashboard 
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                          <li><a href="/">List of Employees</a></li>
                          <li><a href="{% url 'employee:add-employee' %}">Manually Add Employee</a></li>
                      </ul>
                    </li>
                    <li class="{% block uploadActive %}  {% endblock %} ripple">
                      <a class="tree-toggle nav-header">
                        <span class="fa-cloud fa"></span> Upload
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                        <li><a href="{% url 'employee:upload-excel' %}">Excel Add Employee</a></li>
                        <li><a href="{% url 'employee:logs-employees' %}">Logs/List</a></li>
                      </ul>
                    </li>
                    
                    <li>
                      <a href="{% url 'employee:logout' %}" style="color:red">
                        Logout
                      </a>
                    </li>

                  </ul>
                </div>
            </div>
          <!-- end: Left Menu -->

          {% block content %} {% endblock %}


             
          
      </div>

      <!-- start: Mobile -->
      <div id="mimin-mobile" class="reverse">
        <div class="mimin-mobile-menu-list">
            <div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft">
                <ul class="nav nav-list">
                    <li class="active ripple">
                      <a class="tree-toggle nav-header">
                        <span class="fa-home fa"></span>Dashboard 
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                          <li><a href="#">List of Employees </a></li>
                          <li><a href="#">Employees logs</a></li>
                      </ul>
                    </li>
                    <li class="ripple">
                      <a class="tree-toggle nav-header">
                        <span class="fa-cloud fa"></span> Upload
                        <span class="fa-angle-right fa right-arrow text-right"></span>
                      </a>
                      <ul class="nav nav-list tree">
                        <li><a href="#">Upload employee data</a></li>
                        <li><a href="#">Add an employee</a></li>
                      </ul>
                    </li>
                    
                  </ul>
            </div>
        </div>       
      </div>
      <button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-danger">
        <span class="fa fa-bars"></span>
      </button>
       <!-- end: Mobile -->

<!-- start: Javascript -->
<script src="{% static 'asset/js/jquery.min.js' %}"></script>
<script src="{% static 'asset/js/jquery.ui.min.js' %}"></script>
<script src="{% static 'asset/js/bootstrap.min.js' %}"></script>



<!-- plugins -->
<script src="{% static 'asset/js/plugins/moment.min.js' %}"></script>
<script src="{% static 'asset/js/plugins/jquery.datatables.min.js' %}"></script>
<script src="{% static 'asset/js/plugins/datatables.bootstrap.min.js' %}"></script>
<script src="{% static 'asset/js/plugins/jquery.nicescroll.js' %}"></script>


<!-- custom -->
<script src="{% static 'asset/js/main.js' %}"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $('#datatables-example').DataTable();
  });
</script>
{% block javascript %} {% endblock %}

<!-- plugins -->






<!-- end: Javascript -->
</body>
</html>
