{% extends 'base.html' %}
{% load static %}
{% block uploadActive %}active  {% endblock %}
{% block css %}
 <link rel="stylesheet" type="text/css" href="{% static 'asset/css/plugins/dropzone.css' %}"/>
 {% endblock %}
{% block content %}

<!-- start: Content -->
        <div id="content">
          <div class="panel box-shadow-none content-header">
            <div class="panel-body">
                <div class="col-md-12">
                    <h3 class="animated fadeInLeft">Employee Data</h3>
                    <p class="animated fadeInDown">
                     Upload employee data stored in excel
                    </p>
                </div>
              </div>
          </div>
          <div class="col-md-12">
              <div class="panel">
                  <div class="panel-heading"></div>
                  <div class="panel-body">
                      <div class="row">
                        <div class="col-lg-12">
                          {% if messages %}
                            {% for message in messages %}
                              <div  class="alert alert-{{message.tags }}" role="alert">
                                {{message}}
                              </div>
                            {% endfor %}
                          {% endif %}    

                        <form method="POST" enctype="multipart/form-data">
                        	{% csrf_token %}
                          <div class="input-group fileupload-v1">
                            <input type="file" name="employee_excel_file" class="fileupload-v1-file hidden"/>
                            <input type="text" class="form-control fileupload-v1-path" placeholder="File Path..." disabled>
                            <span class="input-group-btn">
                              <button class="btn fileupload-v1-btn" type="button"><i class="fa fa-folder"></i> Choose File</button>
                            </span>
                          </div><!-- /input-group -->
                          <br><br>
                          <div class="col-md-12">
                              <input class="submit btn btn-success" type="submit" value="Upload">
                        </div>
                        </form>
                        </div><!-- /.col-lg-6 -->
                      </div><!-- /.row -->
                  </div>
              </div>

          </div>
        </div>
      <!-- end: content -->


{% endblock %}

{% block javascript %}
<script src="{% static 'asset/js/plugins/dropzone.js' %}"></script>
{% endblock %}